*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.one_fixed{
    background-color: #ffffff;
    height: 60px;
    display:flex;
    font-size: 16px;
    font-family: sans-serif;
    line-height: 16px;
    position:fixed;
    max-width: 1024px;
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
    padding-top: 21px;
    margin-left: 190px;
}
section{
    background-color: #ffffff;
    height: 60px;
    position:fixed;
    margin: 0 auto;
    width: 100%;
}
.logom img{
    object-fit: contain;
    height: 45px;
    width:100px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 15px;

}
.one_one{
    margin-left: auto;

}
/* .................................................................. */
.one_one a{
    text-decoration: none;
    margin-left: 30px;
    padding-bottom: 30px;
}

/* .................................................................. */
.sticky{
    position: relative;
    width: 100%;
    height: 120px;
    background-color:#0047ba;
    display:flex;
    font-size: 16px;
    line-height: 16px;
    font-family: sans-serif;
    position: relative;
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
    padding-top: 21px;
}
.sticky a{
    color: #ffffff;
    text-decoration: none;
    margin-left: 30px;
    justify-content: space-between;
    
}
.sticky a:hover{
    color:#76c5ec;
}
.logom2 img{
    object-fit: contain;
    height: 67px;
    width:146px;
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 15px;
    margin-left: 160px;
}
.one2{
    padding-top: 30px;
    color: white;
}

.one_one2{
    padding-top: 20px;
    margin-left: 300px;
}
.three_body{
   
    display: flex;
    background-image: url('/aquafina/11.png');
    background-repeat: no-repeat;
    background-size: cover;
    
}
.three_body img{
    z-index: -55;
    width: 1392.6px;
    height: 830px;
}
.bottle{
   
    width:696.3px;
    height:698.567;
   
}
.bottle img{
    padding-top: 100px;
    width: 696.3px;
    height:698.567px;
}
.logo img{
    height: 201.95px;
    width:586.817px;
}
.container{
    
}
.bi{
width: 586.817px;
height:61.433px;

}
button{
    height: 46.866px;
    width:193.633px;
    position: relative;
font-size: 12px;
color: #0047ba;
text-decoration: none;
display: inline-block;
border: 2px solid #0047ba;
margin-left: 15px;
border-radius: 7px;
background-color: transparent;


}
button:hover{
    background-color:#0047ba;
    color: #f7f9f9;
}


.root{
   
    margin-top: 25%;
}
.core{
    
    margin-top: 150px;
    margin-left: 15%;
}
.four_foot{
   
    display: flex;
    font-size: 14px;
    font-family: sans-serif;
    line-height: 25px;
    padding-top: 5%;
   
   
}
.four_foot a{
    text-decoration: none;
    color: #0639f2;
}
.four_foot a:hover{
    color: #05b0f4;
}
.column1{
   
    margin-left: 15%; 
}
.column2{
   
    margin-left: 6%;
}
.column3{
    
    margin-left: 5%;
   
}

.box{
   
    margin-left: 22%;
}

.b_logo img{
    height: 60px;
    width:142px;
    padding: 15px;
   margin-top: 30px;
}
.five_footer{
   
text-align: center;
color: #0047ba;
margin-top: 6%;
font-family: sans-serif;
font-size: 11px;
line-height: 17px;
background-color: white;

}
.extra{
    
    border: 2px solid #dcf024;
    
}


.b_social{
    display: flex;
    justify-content: center;
    margin-left: 20px;
    
    
}
.FB{
   
   margin-left: 10px;
   border-radius: 50%;
   height: 26px;
   width: 26px;
   background-color: #3b5998 ;
   color: aliceblue;
}
.fa-instagram{
   
    height: 26px;
    width: 26px;
    padding-left: 19%;
}

.fa-facebook-f{
    padding-left: 26%;
}

.fa-twitter{
    padding-left: 20%;
}


.twitt{
    
    margin-left: 10px;
    border-radius: 50%;
    height: 26px;
    width: 26px;
    background-color: #06a0ed;
    color: aliceblue;
}
.insta{
   
    margin-left: 10px;
    border-radius: 50%;
    background-image:url('/aquafina/000.jpg');
    color: aliceblue;
    height: 26px;
    width: 26px;
   
}
li{
    text-decoration: none;
    list-style: none;
}
.circle{
    background-color: #eaebf2;
    color: #f7f9f9;
}
.one a{
   text-decoration: none;
  color: darkgrey;
}
.one a:hover{
    color: #0047ba;
}
.one{
    margin-left: 60px;
    color: darkgray;
}
